.wrapper
{
	width:100% ;
	clear: left;
	height: 153px;
}

.dates
{	
	padding:10px;
	width:24px;
	margin: 1px;
	float: left;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#yyyy1,#yyyy2,#ryyyy,#days,#intervalyyyy,#yyyy,#rintervalyyyy
{
	width: 37px;
}
#cal3
{	
  margin-top: 10px;
  margin-left: 96px;
}
.radio
{	
	float: left;
	margin: 14px 1px 14px 10px;
}

.cal
{	
	width: 77px;
  float: left;
  padding: 10px;
  margin-left: 48px;
}
.calender
{	
	margin-right: 64px;
}
.innerdiv1
{	
	  width: 100%;
  margin-left: 61px;
  height: 43px;
}
#intervaldate
{	margin-left: 336px;
}
.calender
{	float: left;
	margin-left: 20px;
}

.label
{
	width:52px;
	float: left;
	margin-left: 25px;
}